* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
}

#gameElements {
    width: 1200px;
    height: 640px;
    position: absolute;
    /* background-color: azure; */
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -350px;

    overflow: hidden;
}

#gameLost {
    width: 1200px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -420px;
    background-color: black;
    font-family: myFont;
    font-size: 60px;
    z-index: 5;
    display: none;
    color: red;
    text-align: center;
}

#numbersPanel {
    width: 1200px;
    height: 50px;
    position: absolute;
    /* background-color: azure; */
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -420px;

    font-family: myFont;
    font-size: 60px;

    /* overflow: hidden; */
}

#numbersPanel>* {
    display: inline-block;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    /* margin-right: 200px; */
    /* left: 100px; */
}

#purpose {
    margin-left: 3px;
    width: 280px;
    color: gold;
}

#purpose>* {

    display: inline-block;
}

#diamond {
    width: 35px;
    height: 20px;
    background-image: url("./img/diamond.png");
}

#points {
    width: 240px;
    color: gold;
}

#timer {
    width: 240px;
    color: white;
}

#score {
    width: 360px;
    color: white;
    float: right;
}

#boardPosistion {
    position: relative;
}

#board {
    position: absolute;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    /* animation-name: startGame; */
    /* background-color: white; */

}

.row {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

.square {
    min-width: 40px;
    height: 40px;
    display: table-cell;
    font-size: small;
}

/* wall */
.w {
    /* background-color: #222222; */
    background-image: url("img/w.png");

}

/* point */
.p {
    /* background-color: yellow; */
    background-image: url("./img/point.gif");
}

/* stone */
.s {
    /* background-color: slategray; */
    background-image: url("img/s.png");

}

/* player */
.X {
    /* background-color: #77fa0c; */
    background-image: url("img/X.png");
}

/* dirt */
.D {
    /* background-color: #964B00; */
    background-image: url("img/D.png");
}

.b {
    background-image: url("img/b.png");

    /* background-color: crimson; */
}

/* exit */
.e {
    background-color: blue;
}

.boom1 {
    background-image: url("img/boom1.png");
}

.boom2 {
    background-image: url("img/boom2.png");
}

.boom3 {
    background-image: url("img/boom3.png");
}

@keyframes moveSideRight {
    from {
        left: 0;
    }

    to {
        left: 100%;
        transform: translateX(-100%);
    }
}

@keyframes moveSideLeft {
    from {
        left: 100%;
        transform: translateX(-100%);
    }

    to {
        left: 0;
    }
}

@keyframes moveSideBottom {
    from {
        top: 0;
    }

    to {
        top: 100%;
        transform: translateY(-100%);
    }
}

@keyframes moveSideTop {
    from {
        top: 100%;
        transform: translateY(-100%);
    }

    to {
        top: 0;
    }
}

@keyframes startGame {
    from {
        left: -400px;
        top: -240px
    }

    to {
        left: 0px;
        top: 0px;
        /* right:-1000px;
        bottom: -240px; */
        /* transform: translate(100%); */
    }
}

@font-face {
    font-family: myFont;
    src: url("./font/Boulder\ Dash\ 6128.ttf");
}